*{
  margin: 0;
  padding: 0;
}

.content-wrapper{
  height: 100vh;
}

.error{
  color:red;
}

.tab-image{
  height: 220px;
}

#cartModal .modal-dialog{
  width: 80%;
}

#cartModal .modal-dialog .modal-content{
  border-radius: 3px;
}

textarea, select{
	background: #F0F0E9;
  border:0;
	color: #696763;
	padding: 5px;
	width: 100%;
	border-radius: 0;
	resize: none;
}

.inline{
  display: inline;
}

footer{
  position: relative;
}

.dataTables_filter{
  margin-top: 28px;
}

.datatable-header{
  margin-top: -45px;
}